
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main-gc h1{
    color: white;
}
.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-c {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#main-gc {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
}

.one-blank {
  width: 100%;
  height: 100vh;
  color: #fff;
  gap: 2vw;
  font-size: 2vw;
}

.main-section {
  width: 100%;
  height: 100vh;
  color: #fff;
}

.skills {
  flex-wrap: wrap;
  width: 100%;
  gap: 2vh;
  padding: 0vw 5vw;
}

.main-section h2 {
  padding: 1vw 2vw;
  font-size: 2vw;
  border: 1px solid #fff;
  border-radius: 50px;
  font-weight: 400;
  filter: blur(10px);
  opacity: 0;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}